Repository voxpupuli/puppet-nrpe, pull requests merged in 2018-12, with the labels that each got.

#17 Add `commands` and `plugins` parameters
  README.md
  REFERENCE.md
  manifests/init.pp
  spec/classes/nrpe_spec.rb
Labels: enhancement

#18 modulesync 2.3.1
  .editorconfig
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
Labels: modulesync, tests-fail

#20 modulesync 2.4.1
  .msync.yml
  .travis.yml
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync
