Repository voxpupuli/puppet-nrpe, pull requests merged in 2021-05, with the labels that each got.

#47 Support IP addresses with subnets in allowed_hosts
  manifests/init.pp
  spec/classes/nrpe_spec.rb
  templates/nrpe.cfg.epp
Labels: enhancement

#40 Add amd64 as recognised Gentoo arch
  manifests/params.pp
Labels: bug

#49 Modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
  metadata.json
  spec/classes/nrpe_spec.rb
Labels: modulesync

#48 Add Puppet 7 support; Drop Puppet 5 support; concat/stdlib: Allow 7.x
  metadata.json
Labels: backwards-incompatible

#50 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
